<div class="about text-center text-white d-flex justify-content-center align-items-center">
  <div class="about-content">
    <h1 class="display-4">アニメ・マンガの聖地へようこそ！</h1>
    <p class="lead">作品の舞台となった場所を探索し、ファンとの繋がりを楽しもう。</p>
  </div>
</div>
