<!-- app/views/public/homes/top.html.erb -->
<%# content_for :stylesheets do %>
  <%#= stylesheet_pack_tag 'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
<%# end %>
<!-- app/views/public/homes/top.html.erb -->

<!-- app/views/public/homes/top.html.erb -->

<div class="hero-section text-center text-white d-flex justify-content-center align-items-center">
  <div class="hero-content">
    <h1 class="display-4">アニメ・マンガの聖地を発見しよう</h1>
    <p class="lead">お気に入りの作品の舞台となった現実の場所を探索しよう。</p>
    <a href="#features" class="btn btn-primary btn-lg">詳しくはこちら</a>
  </div>
</div>

<section id="features" class="py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="feature-box">
          <i class="fas fa-map-marker-alt fa-3x mb-3"></i>
          <h3>聖地を発見</h3>
          <p>人気アニメやマンガに登場する場所を見つけよう。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <i class="fas fa-star fa-3x mb-3"></i>
          <h3>レビューを読む</h3>
          <p>他のファンがこれらの聖地について何を語っているかを見てみよう。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <i class="fas fa-camera fa-3x mb-3"></i>
          <h3>体験を共有</h3>
          <p>訪れた場所のレビューや写真を投稿しよう。</p>
        </div>
      </div>
    </div>
  </div>
</section>

