<div class="hero-section text-center text-white d-flex justify-content-center align-items-center">
  <div class="hero-content">
    <h1 class="display-4">アニメ・マンガの聖地を発見しよう</h1>
    <p class="lead">お気に入りの作品の舞台となった現実の場所を探索しよう。</p>
    <%= link_to "詳しくはこちら", about_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<section id="features" class="py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="feature-box">
          <i class="fas fa-map-marker-alt fa-3x mb-3"></i>
          <h3>作品を見る</h3>
          <p>人気アニメやマンガから聖地を見つけよう。</p>
          <%= link_to "作品一覧", works_path, class: "btn btn-secondary btn-lg" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <i class="fas fa-star fa-3x mb-3"></i>
          <h3>みんなの投稿を見る</h3>
          <p>他のファンが聖地について何を語っているかを見てみよう。</p>
          <%= link_to "一覧を見る", posts_path, class: "btn btn-secondary btn-lg" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <i class="fas fa-camera fa-3x mb-3"></i>
          <h3>体験を共有</h3>
          <p>訪れた場所の口コミや感想、写真を投稿しよう。</p>
          <%= link_to "投稿する", new_post_path, class: "btn btn-secondary btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</section>

