<footer class="bg-dark text-white text-center py-4">
  <p>&copy; 202407 AM_Heaven. All Rights Reserved.</p>
  <p>
    <a href="#" class="text-white mr-3">プライバシーポリシー</a>
    <a href="#" class="text-white">利用規約</a>
  </p>
</footer>